@model MongoDbMarket.Domain.Item

@{
    Layout = "~/Views/StandartPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        @Html.DisplayForModel()
    </div>
</body>
</html>
