@model MongoDbMarket.Domain.Identity.LogInModel

@{
    Layout = "~/Views/StandartPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/style2.css" />
    <title>Login</title>
</head>
<body>
    <div class="form-style-5">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>
                    <span class="number">1</span> Авторизация
                </legend>

                @Html.EditorFor(x => x.Email, new
                {
                    htmlAttributes =
                        new { placeholder = Html.DisplayNameFor(n => n.Email) }
                })

                @Html.EditorFor(x => x.Password, new
                {
                    htmlAttributes =
                        new { placeholder = Html.DisplayNameFor(n => n.Password) }
                })
            </fieldset>

            <input type="submit" value="Apply" />

            <div class="authBottom">
                <p>Забыли пароль?</p>
                <p>@Html.ActionLink("Регистрация", "Register")</p>
            </div>
        }
    </div>
</body>
</html>
